@import 'variables';

.page {
    display: flex;
    flex-flow: column;
    height: 100%;

    &__toolbar {
        display: flex;
    }

    &__control-panel {
        border: 1px solid $panel-border;
        background-color: $panel-bg;
        padding: 10px;
        width: 400px;
    }

    &__content {
        display: flex;
        flex: 1;
    }

    &__map {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        overflow: scroll;
    }
}

.map-renderer {
    display: inline-block;
    position: relative;
    background-color: rgb(50, 50, 50);

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}
